<p></p>
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">关注列表</div> 
<div class="panel-body">

<div class="row">
{{foreach from=$follower_list item="follower"}}
{{if $follower.relation eq $smarty.const.SN_FOLLOWER_MUTUAL}}
{{assign var=relation value="[相互关注]"}}
{{else}}
{{assign var=relation value=""}}
{{/if}}
<div class="col-sm-6 col-md-3">
<a href="/u/{{$follower.user_name}}/" class="thumbnail">
<img src="{{$follower.avatar|escape:'htmlall'}}&s=440" alt="{{$follower.user_name}}{{$relation}}"             
title="{{$follower.user_name}}{{$relation}}" width="171" height="180">
</a>
</div>
{{foreachelse}}
<div>&nbsp;还没有关注任何人...</div> 
{{/foreach}}
</div>

</div>
</div>
