{{include file="$template_path/header.html"}}

<div class="container">

<!-- 导航 -->
<ol class="breadcrumb">                                                                                           
<li><a href="/home">首页</a></li>
<li class="active">用户详情</li>
</ol>
<hr/>
<!-- /导航-->

<!--row-->
<div class="row row-offcanvas row-offcanvas-right">
<div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">                                 
<img src="{{$user_info.avatar}}&s=440" class="img-rounded" height="220" width="220">
<h3>{{$user_info.user_name}}</h3>
<h5>{{$user_info.login_name}}</h5>
<hr/>
<h5><strong>博客：</strong><small>{{$user_info.extend.blog}}</small></h5>
<h5><strong>邮箱：</strong><small>{{$user_info.user_email}}</small></h5>
<h5><strong>就职公司：</strong><small>{{$user_info.extend.company}}</small></h5>
<h5><strong>所在地区：</strong><small>{{$user_info.extend.location}}</small></h5>
<h5><strong>注册时间：</strong><small>{{$user_info.user_registration_timeline}}</small></h5>
<h5><strong>{{if $user_info.uid eq $login_uid}}我的项目{{else}}Ta的项目{{/if}}：</strong><small><a href="http://github.com/{{$user_info.login_name}}" target="_blank">GitHub repositories</a></small></h5>
</div><!--/span-->

<div class="col-xs-12 col-sm-9"> <!--span-->
<!-- Nav tabs -->
<ul class="nav nav-tabs">
<li {{if $tab eq "task"}}class="active"{{/if}}><a href="?tab=task">{{if $user_info.uid eq $login_uid}}我的任务{{else}}Ta的任务{{/if}}</a></li>
<li {{if $tab eq "article"}}class="active"{{/if}}><a href="?tab=article">{{if $user_info.uid eq $login_uid}}我的文章{{else}}Ta的文章{{/if}}</a></li>
<li {{if $tab eq "fans"}}class="active"{{/if}}><a href="?tab=fans">{{if $user_info.uid eq                         
	$login_uid}}我的粉丝{{else}}Ta的粉丝{{/if}}</a></li>
<li {{if $tab eq "follower"}}class="active"{{/if}}><a href="?tab=follower">{{if $user_info.uid eq $login_uid}}我的关注{{else}}Ta的关注{{/if}}</a></li> 

{{if $user_info.uid neq $login_uid}}
<li {{if $tab eq "send_message"}}class="active"{{/if}}><a href="?tab=send_message">给Ta发消息</a></li>
{{/if}}
{{if $user_info.uid eq $login_uid}}
<li {{if $tab eq "message"}}class="active"{{/if}}><a href="?tab=message">消息中心</a></li>
<li {{if $tab eq "settings"}}class="active"{{/if}}><a href="?tab=settings">设置</a></li>
{{/if}}
</ul>

{{include file="$template_path/account_$tab.html"}}

</div> 
</div>
<!-- /row -->

<!-- well -->
<div class="well">
<p>
{{$well}}
</p>
</div> 
<!-- /well -->

{{include file="$template_path/footer.html"}}

</body>
</html>
