<!-- Footer
================================================== -->
<!-- FOOTER -->
<hr/>
<footer>
<p class="pull-right"><a href="#">Back to top</a></p>
<p>&copy; 2013 TinySnail. &middot; <a href="http://sanrenbang.net">三人邦</a> &middot; <a href="http://github.com">Github</a></p>
</footer>

</div><!-- /.container -->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{$bootstrap_domain}}/js/bootstrap.min.js"></script>
<script src="{{$portal_domain}}/js/global.js"></script>
</body>
</html>
