<!-- helpIntegral-->
<div class="modal fade" id="help_integral" tabindex="-1" role="dialog" aria-                        
labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">不是彩蛋...</h4>
</div>
<div class="modal-body" style="text-align:center;">
<embed src="http://player.youku.com/player.php/sid/XNTU1NzM5ODA4/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<!--button type="button" class="btn btn-primary">Save changes</button-->
	</div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div><!-- /.helpmodal -->
