<!-- helpRule-->
<div class="modal fade" id="help_rule" tabindex="-1" role="dialog" aria-                        
labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">使用流程...</h4>
</div>
<div class="modal-body">
	<h4>1，点击右上角的铵钮进行登录，前题是你必需一个github帐号。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/login.png" width="500" height="30"/></p>

	<h4>2，进入GitHub授权页面，点击Allow access进行授权。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/allow.png" width="500" height="50"/></p>

	<h4>3，点击首页上的分布任务按钮，发布一个新的任务。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/add_task_button.png" width="500" height="60"/></p>
	
	<h4>4，进入任务发布页面，可以发布选择一个分类和时间周期并添加任务内容。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/add_task.png" width="500" height="300"/></p>
	
	<h4>5，发布任务后将进入新添加的任务详情页面。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/task_detail.png" width="500" height="400"/></p>

	<h4>6，你可以对任务添加附加信息，比如某个条目的完成情况。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/attach.png" width="500" height="300"/></p>

	<h4>7，你可以对任何任务发表评论，也可以回复任何人的评论。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/comment.png" width="500" height="300"/></p>

	<h4>8，当你添加的任务过期后，在任务列表页将会出现这样的图标。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/task_index_un.png" width="500" height="60"/></p>

	<h4>9，在任务详情页页面也会出现变化,点击确认完成将进入任务确认页面。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/task_detail_un.png" width="500" height="140"/></p>
	<h4>10，在任务确认页面，添加确认相关的文字就能确认当前任务的完成,点击确认按钮后将会进入确认后的页面。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/confirm_task.png" width="500" height="300"/></p>

	<h4>11，确认成功后，看到的是确认文章页。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/article.png" width="500" height="300"/></p>

	<h4>11，确认成功后，任务列表页相应的图片也会改变。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/task_index_finish.png" width="500" height="56"/></p>

	<h4>11，确认成功后，任务详情页也会有相应的改变。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/task_detail_finish.png" width="500" height="200"/></p>

	<h4>11，在用户中心，你可以关注某人，查看某人的相关数据。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/account.png" width="500" height="260"/></p>

	<h4>11，当你登录成功后，你在每个页面的右上角都会看到这样的图标，他们的作用分别是：添加新任务；设置用户心情和退出当前登录。</h4>
	<p><img src="{{$smarty.const.DOMAIN}}/public/portal/img/help/header_user.png" width="500" height="36"/></p>

	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<!--button type="button" class="btn btn-primary">Save changes</button-->
	</div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div><!-- /.helpmodal -->
