<!-- helpTent-->
<div class="modal fade" id="help_tent" tabindex="-1" role="dialog" aria-                        
labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">帮助中心--宗旨</h4>
</div>
<div class="modal-body">
TinySnail用来帮助(监督)更多的人更快更好的完成任务。你需要为自己在未来的某段时间内设定务并完成它,
	完成任务会得到相应的积分；完不成任务会减少相应的积分。你在规定时间段内完成了某项工作，必需写一篇
	相应的文章附加到当前伤务上，其它网友根据你所写的文章来确认你是否真的完成了任务。
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<!--button type="button" class="btn btn-primary">Save changes</button-->
	</div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div><!-- /.helpmodal -->
