<!-- helpPhilosophy -->
<div class="modal fade" id="help_philosophy" tabindex="-1" role="dialog" aria-                        
labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">一点哲学::::</h4>
</div>
<div class="modal-body" style="line-height:28px;letter-spacing:1px;"> 
	<h4>1，TinySnail给什么样的人用？</h4>
	<p>这不是一个给所有人用的产品？相反，本产品只给少数愿意花时间改变自己的人使用。</p>

	<h4>2，我在这里能做什么？</h4>
	<p>把自己想做的事情安排在一个较短的时间内，去完成它。并向大家证明--你做到了。</p>

	<h4>3，TinySnail能为我带来什么？</h4>
	<p>培养你做某件事情的习惯，帮助你定制更合理的计划，如何更具体的去实施自己的计划。</p>

	<h4>4，为什么必需用GitHub的帐号登录？</h4>
	<p>这是小众的产品，只给少数人用，所以会有小小的门槛。</p>

	<h4>5，为什么不能注册新用户？</h4>
	<p>注册登录系统也需要花时间去写代码，而我的时间并不是很充裕。</p>

	<h4>6，如何合理的制定任务？</h4>
	<p>周期太长的任务很难持之以恒；周期太短的任务随意性很强；所以制定周期为7天的任务是非常合理的，比如任务内容是读一本500页的书，任务周期为7天，你就可以每天读100页，5天读完，但是你肯定会有许多临时要做的事而耽搁了计划的实施，没关系，剩余2天的时间可以做一个很好的缓冲。</p>

	<h4>7，为什么任务到期后一定要去确认任务？</h4>
	<p>确认后即表示你完成了任务，这是非常重要的事情。如果你眼看着任务过期而坐视不管，这将严重影响你在本站的诚信等级。</p>

	<hr>

	<h4>过去的事情你无法改变？但未来仍旧掌握在你的手中。</h4>
	<p>25岁以后我很多固有的想法开始慢慢改变。比如：如何以严肃的态度把精力专注的集中在一件事上？</p>
	<p>已有的习惯、观念、心态在开始深入社会时显的过时极了，旧有形态不经过改造很难适应新的形势。</p>
	<p>改变一个人非常难，唯有量变到一定的程度，才有触发质变的可能，所以停止即是倒退。</p>
	<p>重新认识旧事物比开始认识新的事物更难，固有的观念很难被打破，除非外力的介入,使你开始思考。</p>
	<p>旅行、读书、码字、敲代码、做木工.....具体的事情持续的发酵即是最好的外力，从此处开始有了新认识。</p>
	<p>并不是所有时间你都有精神饱满、信心百倍，特别是遇到挫折的时间，需要再往前走一小步。</p>
	<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
	<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
	<p>Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.</p>
	
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<!--button type="button" class="btn btn-primary">Save changes</button-->
	</div>
	</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
	</div><!-- /.helpmodal -->

