<div class="col-xs-12 col-sm-9"> <!--span-->
<div class="panel panel-default">
<!-- Default panel contents -->
<div class="panel-heading">任务列表</div>
<div class="panel-body">
<button type="button" id="add_task" data-placement="top" class="btn btn-primary" login_uid="{{$login_uid}}" data-toggle="popover" title="" data-content="只有在&nbsp;[&nbsp;<a href='/signin'>登录</a>&nbsp;]&nbsp;以后才能发布任务！" data-original-title="<strong>友情提示：</strong>" data-html="true">发布任务</button>
&nbsp;&nbsp;
快速帮助：
<button class="btn btn-default" type="button" data-toggle="modal" data-target="#help_rule">玩转这里</button>
<button class="btn btn-default" type="button" data-toggle="modal" data-target="#help_philosophy">一点哲学</button>
<button class="btn btn-default" type="button" data-toggle="modal" data-target="#help_integral">不是彩蛋</button>
<!--button class="btn btn-default" type="button" data-toggle="modal" data-target="#help_tent">宗旨</button-->
<a href="http://sanrenbang.net/tinysnail/" target="__blank">问题反馈</a>
</div>

<!-- tasks list-->
<table class="table table-hover">
<tbody>
{{foreach from=$tasks item="task_info"}}
<tr class="row">
<td class="col-xs-12 col-md-1" style="text-align:center;vertical-align:middle;"> <span class="badge" title="点击数">{{$task_info.hits}}</span> </td>
<td class="col-xs-12 col-md-1" style="text-align:center;vertical-align:middle;"><span class="badge" title="评论数">{{$task_info.comments}}</span></td> 
<td class="col-xs-12 col-md-1" style="text-align: center;vertical-align:middle;">
{{if $task_info.status eq $smarty.const.TASK_STATUS_DELETED}}
<span class="badge" title="已删除">del</span> <!--已删除-->
{{else if $task_info.status eq $smarty.const.TASK_STATUS_ONGOING}}
<span class="glyphicon glyphicon-time" title="进行中"></span> <!--进行中-->
{{else if $task_info.status eq $smarty.const.TASK_STATUS_FINISHED}}
<span class="glyphicon glyphicon-thumbs-up" title="已完成"></span> <!--已完成-->
{{else if $task_info.status eq $smarty.const.TASK_STATUS_UNFINISHED}}
<span class="glyphicon glyphicon-thumbs-down" title="未完成"></span><!--未完成-->
{{else}}
{{/if}}
</td>
<td class="col-xs-12 col-md-9" style="">
<div class="">
<a href="/task_detail/{{$task_info.tid}}/">{{$task_info.subject}}。</a>
</div>
<div>
<small class="text-muted">此任务由 <a href="/u/{{$task_info.user_name}}">{{$task_info.user_name}}</a>&nbsp;于&nbsp;{{$task_info.create_time}}&nbsp;发布&nbsp;&nbsp;{{if $task_info.comment_last_user_name}}|&nbsp;&nbsp;最后回复&nbsp;<a href="/u/{{$task_info.comment_last_user_name}}">{{$task_info.comment_last_user_name}}</a>&nbsp;{{$task_info.comment_last_time}}{{/if}}</small>
</div>
</td>
</tr>
{{/foreach}}
</table>

</div>
{{$page_info}}
</div> 

<!--模态框的帮助内容-->
{{include file="$template_path/help_model_tent.html"}}
{{include file="$template_path/help_model_integral.html"}}
{{include file="$template_path/help_model_rule.html"}}
{{include file="$template_path/help_model_philosophy.html"}}
