{{include file="$template_path/header.html"}}

<div class="container">

<!-- 导航 -->
<ol class="breadcrumb">
<li><a href="/home">首页</a></li>
<li class="active">任务详情</li>
</ol>
<hr/>
<!-- /导航-->
<div class="row row-offcanvas row-offcanvas-right">
				<div class="col-xs-12 col-sm-9">
					<div class="progress progress-striped active">
{{if $task_info.schedule_txt_local eq 'left'}}
<strong class="text-muted">&nbsp;{{$task_info.schedule_txt}}</strong>
{{/if}}
						<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"  style="width: {{$task_info.schedule}}%"> </div>
{{if $task_info.schedule_txt_local eq 'right'}}
<strong class="text-muted">&nbsp;{{$task_info.schedule_txt}}</strong>
{{/if}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
				</div>
				</div>
<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9"> <!--span-->
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-body">
				<h3 ><img src="{{$task_info.avatar}}" width="25" height="25" class="img-rounded" ></img><strong>{{$task_info.subject}}</strong></h3>
				<div class="text-muted">
				<ul class="list-inline">
				    <li><a href="">{{$task_info.user_name}}</a> 发表于：{{$task_info.create_time}}<li>
				    <li>{{$task_info.hits}} 次阅读<li>
				    <li><a href="">{{$task_info.comments}}</a> 条评论<li>
				</ul>
				</div>
				<hr/>
				<div style="line-height:28px;letter-spacing:1px;text-indent:40px;"> {{$task_info.description}} </div>
			</div>
		</div>
		<!--评论-->
{{if $login_uid>0}}
		<div style="text-align: right;">
			<form class="form-horizontal" role="form" action="" method="post" target="inner_post_iframe">
				<textarea class="form-control" rows="3"></textarea>
				<br/>
				<h5>
					<small>评论仍然可以使用<a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">MarkDown</a>语法哟。</small>
					<button type="submit" class="btn btn-primary">发表评论</button>
				</h5>
			</form>
		</div>
{{else}}
		<span class="help-block"><a href="/signin">登录</a>后才能进行评论。</span>
{{/if}}
		<hr/>
		<!--/评论-->
	</div>

	<div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">                                 
		<div class="panel panel-default">
			<div class="panel-heading">热门任务</div>
				<ul class="list-group">
					<li class="list-group-item">
						Cras justo odio
					</li>
					<li class="list-group-item">
						Cras justo odio
					</li>
				</ul>
			</div>
		</div><!--/span-->
	</div> 

{{include file="$template_path/footer.html"}}
<iframe name="inner_post_iframe" style="display:block;width:98%;height:300px;"></iframe>
</body>
</html>
