{{include file="$template_path/header.html"}}

<div class="container">

<!-- 导航 -->
<ol class="breadcrumb">
<li><a href="/home">首页</a></li>
<li class="active">任务详情</li>
</ol>
<hr/>
<!-- /导航-->
<div class="row row-offcanvas row-offcanvas-right">
				<div class="col-xs-12 col-sm-9">
					<div class="progress progress-striped active">
{{if $task_info.schedule_txt_local eq 'left'}}
<strong class="text-muted">&nbsp;{{$task_info.schedule_txt}}</strong>
{{/if}}
						<div class="progress-bar progress-bar-info"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"  style="width: {{$task_info.schedule}}%"> </div>
{{if $task_info.schedule_txt_local eq 'right'}}
<strong class="text-muted">&nbsp;{{$task_info.schedule_txt}}</strong>
{{/if}}
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
				</div>
				</div>
<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9"> <!--span-->
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-body">
				<h3 ><a href="/u/{{$task_info.user_name}}" target="_blank"><img src="{{$task_info.avatar}}" width="25" height="25" class="img-rounded" ></img><strong>{{$task_info.subject}}</strong></h3>
				<div class="text-muted">
				<ul class="list-inline">
				    <li><a href="/u/{{$task_info.user_name}}" target="_blank">{{$task_info.user_name}}</a> 发表于：{{$task_info.create_time}}<li>
				    <li>{{$task_info.hits}} 次阅读<li>
				    <li><a href="#comment_input">{{$task_info.comments}}</a> 条评论<li>
				</ul>
				</div>
				<hr/>
				<div style="line-height:28px;letter-spacing:1px;text-indent:40px;"> {{$task_info.description}} </div>
				<a name="comment_input">.</a>
			</div>
		</div>
		<!--评论-->
{{if $login_uid>0}}
		<div style="text-align: right;">
			<!-- 提示 -->
			<div class="form-group">
					<div class="alert alert-danger" style="display:none" id="alert_danger"> <strong>标题输入不合法...</strong> </div>
			</div>
			<!-- /提示 -->
			<form class="form-horizontal" role="form" name="comment_form" action="" method="post" target="inner_post_iframe">
				<input type="hidden" name="post_type" value="task_comment" />
				<input type="hidden" name="alert_div_id" value="alert_danger" />
				<input type="hidden" name="reply_uid" value="" />
				<input type="hidden" name="reply_username" value="" />
				<input type="hidden" name="comment_id" value="" />
				<textarea class="form-control" rows="3" name="comment" id="comment"></textarea>
				
				<h5>
					<small>评论仍然可以使用<a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">MarkDown</a>语法哟。</small>
					<button type="submit" class="btn btn-primary">发表评论</button>
				</h5>
			</form>
		</div>
{{else}}
		<span class="help-block"><a href="/signin">登录</a>后才能进行评论。</span>
{{/if}}
		<a name="comment">评论列表</a>
		<hr/>
		<!--/评论-->
{{foreach from=$comments item="item"}}
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="col-xs-12 col-sm-1"> 
				<a href="/u/{{$item.user_name}}" target="_blank"><img src="{{$item.avatar}}" width="40" height="40" class="img-rounded"/></a>
			</div>
			<div class="col-xs-12 col-sm-11"> 
				<h5> <small>#{{$item.floor}}&nbsp;&nbsp;<a href="/u/{{$item.user_name}}" target="_blank">{{$item.user_name}}</a>&nbsp;发表于：{{$item.create_time}}</small></h5>
				<div style="word-break:break-all;">
					{{$item.comment}}
				</div>
				<div style="text-align: right;">
					<a href="javascript:void(0);" id="reply_comment_button_{{$item.cid}}" comment_cid="{{$item.cid}}">回复此评论</a>
				</div>

				<!-- 提示 -->
				<div class="form-group">
					<div class="alert alert-danger" style="display:none" id="alert_danger_{{$item.cid}}"> 
						<strong>标题输入不合法...</strong> 
					</div>
				</div>
				<!-- /提示 -->

				<!--表单-->
				<div style="text-align:right;display:none" id="reply_div_{{$item.cid}}">
					<textarea class="form-control" rows="3" id="reply_comment_{{$item.cid}}"></textarea>
					<p></p>
					<button type="button" class="btn btn-info" id="reply_submit_{{$item.cid}}" comment_id="{{$item.cid}}" reply_uid="{{$item.uid}}" reply_username="{{$item.user_name}}">回复评论</button>
				</div>
				<!--/表单-->

				<!--回复数据-->
{{foreach from=$reply_list[$item.cid] item="reply_info"}}
				<hr/>
				<div class="row row-offcanvas row-offcanvas-right">
					<div class="col-xs-12 col-sm-1"> 
						<a href="/u/{{$reply_info.user_name}}" target="_blank"><img src="{{$reply_info.avatar}}" width="30" height="30" class="img-rounded"/></a>
					</div>
					<div class="col-xs-12 col-sm-11"> 
						<h5><small>
							<a href="/u/{{$reply_info.user_name}}" target="_blank">{{$reply_info.user_name}}</a>&nbsp;发表于：{{$reply_info.create_time}}
						</small></h5>
						<div style="word-break:break-all;">
							回复@<a href="?{{$reply_info.reply_uid}}">{{$reply_info.reply_username}}</a>：{{$reply_info.reply}}
						</div> 
						<div style="text-align: right;">
							<a href="javascript:void(0);" id="reply_reply_button_{{$reply_info.rid}}" reply_id="{{$reply_info.rid}}" >回复此评论</a>
						</div>

						<!-- 提示 -->
						<div class="form-group">
							<div class="alert alert-danger" style="display:none" id="reply_alert_danger_{{$reply_info.rid}}"> 
								<strong>标题输入不合法...</strong> 
							</div>
						</div>
						<!--/提示-->

						<!--表单-->
						<div style="text-align:right;display:none" id="reply_reply_div_{{$reply_info.rid}}"> 
							<textarea class="form-control" rows="3" id="reply_reply_{{$reply_info.rid}}"></textarea>
							<p></p>
							<button type="button" class="btn btn-info" id="reply_reply_submit_{{$reply_info.rid}}" reply_id="{{$reply_info.rid}}" comment_id="{{$item.cid}}" reply_uid="{{$reply_info.uid}}" reply_username="{{$reply_info.user_name}}">回复评论</button>
						</div>
																													                <!--/表单-->

					</div>
				</div>
{{/foreach}}
				<!--/回复数据-->

			</div>
		</div> 
		<hr/>
{{foreachelse}}
没有评论!!!
{{/foreach}}
{{$page}}
	</div>

	<div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">                                 
		<div class="panel panel-default">
			<div class="panel-heading">热门任务</div>
				<ul class="list-group">
					<li class="list-group-item">
						Cras justo odio
					</li>
					<li class="list-group-item">
						Cras justo odio
					</li>
				</ul>
			</div>
		</div><!--/span-->
	</div> 

{{include file="$template_path/footer.html"}}
<iframe name="inner_post_iframe" style="display:block;width:98%;height:300px;"></iframe>
</body>
</html>
